<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<form action="#" method="post">
    <div class="parent">
        <div class="container">
            <p>
                <input type="text" name="id" placeholder="Phone number" autocomplete="off"/>
            </p>
            <p>
                <input type="text" name="session" placeholder="Session" autocomplete="off"/>
            </p>
            <p>
                <input type="submit" value="GO" />
            </p>
        </div>
    </div>

    </div>
</form>

</html>